html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

ul {
    list-style-type: none
}

a {
    text-decoration: none;
}

.header {}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 86px;
}

.header__list {
    display: flex;
}

.header__item+.header__item {
    margin-left: 44px;
}

.intro__inner {
    display: flex;
}

.intro {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 830px;
    /* color: rgb(255, 255, 255); */
    color: #fff;
}

.intro__text {
    width: 547px;
}